 @import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  font-family: 'Karla', sans-serif;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 0.5rem;
  background: #aaa;
}
html::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: #1D1F2E;
} 
/* body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 25px;
} */
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
.title  {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #1D1F2E;
  margin-bottom: 100px;
}
.title::before,
.title::after {
  content:'';
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 1px;
  background-color: #ececed;
}
.title::before {
  margin-right: 15px;
}
.title::after {
  margin-left: 15px;
}
/*menu*/
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 0;
}
.navbar a {
  margin: 0 15px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #1D1F2E;
}
.navbar a:hover {
  opacity: .75;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart p {
  text-transform: uppercase;
  margin: 0 5px;
}

#menu-btn {
  font-size: 25px;
  cursor: pointer;
  color: #1D1F2E;
  margin-left: 20px;
  display: none;
}

/*home*/
.home {
  background: url('../img/home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 530px;
}
.home-container {
  text-align: center;
  padding: 160px 0 180px 0;
  color: #fff;
}
.home-span {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.home-title {
  font-size: 47px;
  font-weight: 400;
  margin-bottom: 10px;
}
.home-text {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 48px;
}
.home-btn {
  width: 230px;
  height: 18px;
  padding: 0 24px;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(29, 31, 46, 0.1);
  color: #1D1F2E;
}
.home-btn:hover {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

/* about */
.about {
  padding: 120px 0 100px 0;
  text-align: center;
}
.about-title {
  color: #1D1F2E;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 15px;
}
.about-text {
  width: 658px;
  margin: 0 auto;
  font-size: 16px;
  color: rgba(29, 31, 46, 0.7);
  font-weight: 400;
  margin-bottom: 20px;
}
.about-btn {
  font-size: 15px;
  font-weight: 400;
  color: #A25F4B;
  border-bottom: 2px solid rgba(162, 95, 75, 0.2);
}

/* featured */
.featured-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  margin-bottom: 100px;
}
.featured-title {
  text-align: center;
  margin-top: 35px;
}
.featured-title h4 {
  font-size: 20px;
  font-weight: 400;
  color: #1D1F2E;
  margin-bottom: 5px;
}
.featured-title p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(29, 31, 46, 0.7);
}
.featured-title p span {
  font-size: 19px;
  color: #A25F4B;
}
.featured-title strike {
  text-decoration: line-through;
}
/* product */
.product {
  margin-bottom: 100px;
}
.product-container,
.wrap {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:17px;
}
.wrap {
  margin-top: 65px;
  text-align: center;
}
.product-title,
.wrap-title {
  text-align: center;
  margin-top: 35px;
}
.product-title h4,
.wrap-title h4  {
  font-size: 20px;
  font-weight: 400;
  color: #1D1F2E;
  margin-bottom: 8px;
}
.product-title p {
  font-size: 20px;
  font-weight: 400;
  color: #A25F4B;
}
.product-title p span {
  font-size: 16px;
  text-decoration-line: line-through;
  color: rgba(29, 31, 46, 0.7);
}
.wrap-title p {
  font-size: 16px;

  color: rgba(29, 31, 46, 0.7);
}

/* shop */
.shop {
  margin-bottom: 130px;
}
.shop-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 80px;
}
.row {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
.col-2 img:first-child {
  margin-bottom: 20px;
}
.shop-title span {
  font-size: 12px;
  font-weight: 400;
  color: #1D1F2E;
  line-height: 18px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
.shop-title h4 {
  font-size: 36px;
  font-weight: 400;
  color: #1D1F2E;
  line-height: 50px;
  margin-bottom: 15px;
}
.shop-title p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(29, 31, 46, 0.7);
  line-height: 28px;
  margin-bottom: 35px;
}
.shop-btn {
  padding: 9px 24px;
  background-color:#1D1F2E;
  color: #fff;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}
.shop-btn:hover {
  background: none;
  color: #1D1F2E;
  border: 1px solid #1D1F2E;
}

.newsletter {
  background: url('../img/newsletter.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 340px;
  margin-bottom: 100px;
}
/* stories */
.stories-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.stories-container .box {
  width: 300px;
}
.stories-container h4 {
  font-size: 20px;
  font-weight: 400;
  color: #1D1F2E;
  margin: 10px 0 30px 0;
}
.stories-container p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(29, 31, 46, 0.7);
}
.day {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #1D1F2E;
  margin-top: 16px;
}
/* contact */
.contact {
  margin-top: 200px;
  padding: 80px 0 85px 0;
  background-color: #1D1F2E;
}
.contact .title {
  color: #fff;
  margin-bottom: 0;
}
.contact-title {
  text-align: center;
  margin-top: 15px;
}
.contact-title h4 {
  font-size: 36px;
  font-weight: 400;
  color: #fff;
}

form {
  margin-top: 25px;
}
form input {
  padding: 18px 40px;
  background: none;
  border: 1px solid #2F303E;
  outline: none;
  margin-right: 10px;
}
form input::placeholder {
  font-size: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 400;
}
form .button {
  padding: 18px 25px;
  background: #fff;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

/* footer */
.footer {
  padding: 100px 0;
}
.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-box p {
  margin-top: 22px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(29, 31, 46, 0.7);
}
.links,
.socials {
  display: flex;
  flex-direction: column;
}
.links h5{
  font-size: 12px;
  font-weight: 400;
  color: #1D1F2E;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.links a {
  font-size: 14px;
  font-weight: 400;
  color: rgba(29, 31, 46, 0.7);
  margin-bottom: 10px;
}
.links a:hover,
.socials a:hover {
  color: #1D1F2E;
}
.socials h5 {
  font-size: 12px;
  font-weight: 400;
  color: #1D1F2E;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.socials a {
  font-size: 14px;
  font-weight: 400;
  color: rgba(29, 31, 46, 0.7);
  margin-bottom: 10px;
}
.info h5 {
  font-size: 12px;
  font-weight: 400;
  color: #1D1F2E;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.info p {
  font-size: 14px;
  font-weight: 400;
  color: rgba(29, 31, 46, 0.7);
  margin-bottom: 16px;
}
.info .email {
  font-size: 23px;
  font-weight: 400; 
  color: #1D1F2E;
}









/*media*/
@media(max-width: 768px) {
  .container {
    max-width: 720px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #menu-btn {
    display: initial;
  }
  .navbar {
    position: absolute;
    top: 0;
    left: -100%;
    background: #1D1F2E;
    width: 250px;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .navbar.active {
    left: 0;
  }
  .navbar a {
    margin: 10px 0;
    font-size: 20px;
    color: #fff;
  }
  .about-text {
    width: 430px;
  }
  .featured-container {
    grid-template-columns: auto;
  }
  .box img {
    width: 100%;
  }
  .product-container,
  .wrap {
  grid-template-columns: auto;
 }
 .shop-container,
 .row {
   grid-template-columns: auto;
 }
 .col-2 img:first-child {
   margin-bottom: 0;   
}
 .stories-container {
  grid-template-columns: auto;
 }
 form input {
   margin-right: 0;
   padding: 18px 30px;
 }
 form .button {
   padding: 18px 15px;
 }
 .footer-wrap {
   flex-direction: column;
   align-items: start;
 }
 .footer-box,
 .links,
 .socials
  {
   margin-bottom: 20px;
 }

 .links h5,
 .socials h5,
 .info h5 {
  margin-bottom: 15px;
 }
}

@media(max-width:480px) {
  .about-text {
    width: 350px;
  }
  
}